<div id="<%= dom_id movie %>" class="flex flex-col gap">
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Title:</h4>
    <p class="leading-none"><%= movie.title %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Director:</h4>
    <p class="leading-none"><%= movie.director %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Year:</h4>
    <p class="leading-none"><%= movie.year %></p>
  </div>
  <div class="movie-item">
    h3><%= movie.title %></h3>
    <p><%= movie.description %></p>
    <p><%= movie.year %></p>
  </div>
</div>
