<% if @movie.poster.attached? %>
  <%= image_tag @movie.poster, alt: "#{@movie.title} cover", class: "w-40 h-auto rounded-lg shadow-md" %>
<% end %>

<h1 class="text-2xl font-bold mb-2"><%= @movie.title %></h1>
<p class="mb-1"><%= @movie.description %></p>
<p class="mb-1">Release Date: <%= @movie.year %></p>
<p class="mb-1">Rating: <%= @movie.rating %></p>
<p class="mb-1">Director: <%= @movie.director %></p>
<p class="mb-1">Franchise: <%= @movie.franchise %></p>
<p class="mb-1">Description: <%= @movie.description %></p>


<div class="flex flex-wrap items-center gap mbs-6" style="--row-gap: .5rem">
  <%= link_to "Edit this Movie", edit_movie_path(@movie), class: "btn" %>
  <%= link_to "Back to Movies", movies_path, class: "btn" %>
  <%= button_to "Delete", @movie, method: :delete, class: "btn" %>
</div>

