<div class="auth-box">
  <h2>Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="input-label-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
    </div>

    <div style="text-align: center; margin-top: 1.5rem;">
      <%= f.submit "Send me reset password instructions", class: "btn" %>
    </div>
  <% end %>

  <div style="text-align: center; margin-top: 1rem;">
    <%= render "devise/shared/links" %>
  </div>
</div>

