<div id="<%= dom_id book %>" class="flex flex-col gap">
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Title:</h4>
    <p class="leading-none"><%= book.title %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Author:</h4>
    <p class="leading-none"><%= book.author %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Year:</h4>
    <p class="leading-none"><%= book.year %></p>
  </div>
  <div class="book-item">
    <h3><%= book.title %></h3>
    <p><%= book.author %></p>
    <p><%= book.year %></p>
  </div>
</div>
