<div id="<%= dom_id(book) %>" class="flex flex-col gap">

<div class="w-48 h-72 rounded overflow-hidden shadow-lg transform transition-transform duration-200 hover:scale-105">
  <% if book.poster.attached? %>
    <%= image_tag book.poster.variant(resize_to_fill: [200, 300]), alt: book.title, class: "w-full h-full object-cover" %>
  <% else %>
    <div class="w-full h-full bg-gray-200 flex items-center justify-center">
      <span class="text-sm text-gray-500">No Image</span>
    </div>
  <% end %>

  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Title:</h4>
    <p class="leading-none"><%= book.title %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Author:</h4>
    <p class="leading-none"><%= book.author %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Year Published:</h4>
    <p class="leading-none"><%= book.year %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Summary:</h4>
    <p class="leading-none"><%= book.summary %></p>
  </div>

  <div class="flex gap-2 mt-2">
    <%= link_to "Edit", edit_book_path(book), class: "btn btn--primary" %>
    <%= link_to "Delete", book_path(book), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn--danger" %>
  </div>
</div>
