<% content_for :title, "Editing book" %>

<h1 class="font-bold text-4xl mbe-4">Editing book</h1>

<%= render "form", book: @book %>

<div class="inline-flex flex-wrap items-center gap mbs-2" style="--row-gap: .5rem">
  <%= link_to "Show this book", @book, class: "btn" %>
  <%= link_to "Back to books", books_path, class: "btn" %>
</div>

<%= form_with(model: @book, local: true) do |form| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<% end %>
