<%= render @book %>

<h1><%= @book.title %></h1>
<p><%= @book.description %></p>
<p>Release Date: <%= @book.release_date %></p>
<p>Author: <%= @book.author %></p>  <!-- New field -->
<p>Genre: <%= @book.genre %></p>

<div class="flex flex-wrap items-center gap mbs-6" style="--row-gap: .5rem">
  <%= link_to "Edit this book", edit_book_path(@book), class: "btn" %>
  <%= link_to "Back to books", books_path, class: "btn" %>
  <%= button_to "Destroy this book", @book, method: :delete, class: "btn" %>
</div>

<%= link_to "Edit", edit_book_path(@book), class: "btn btn--primary" %>
<%= button_to "Delete", book_path(@book), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn--danger" %>
