<div id="<%= dom_id(music) %>" class="flex flex-col gap">

  <!-- Image display -->
  <div class="flex justify-center">
    <%= image_tag music.poster, class: "music-poster" if music.poster.attached? %>
  </div>

  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Title:</h4>
    <p class="leading-none"><%= music.title %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Artist:</h4>
    <p class="leading-none"><%= music.artist %></p>
  </div>
  <% if music.album.present? %>
    <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Album:</h4>
    <p class="leading-none"><%= music.album %></p>
    </div>
  <% end %>
  <% if music.description.present? %>
    <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Description:</h4>
    <p class="leading-none"><%= music.description %></p>
    </div>
  <% end %>
  <% if music.genre.present? %>
    <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Genre:</h4>
    <p class="leading-none"><%= music.genre %></p>
    </div>
  <% end %>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Year:</h4>
    <p class="leading-none"><%= music.year %></p>
  </div>
  <div class="flex flex-col gap-half">
    <h4 class="font-medium leading-none">Description:</h4>
    <p class="leading-none"><%= music.description %></p>
  </div>

  <div class="flex gap-2 mt-2">
    <%= link_to "Edit", edit_music_path(music), class: "btn btn--primary" %>
    <%= link_to "Delete", music_path(music), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn--danger" %>
  </div>
</div>
